@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	 background-color: #4d4949;
}

.center {
	margin: auto;
  width: 50%;
  padding: 10px;
  }


.caixa{
	background-color:white;
	margin-bottom: 2em;
	margin-top:5em; 
	text-align:center;
	border-radius: 25px;
	width: 80%;
	height: 30%;
	margin-left: auto;
    margin-right: auto; 
}

.item-titulo{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	max-width: 200px;
}



.titulo-caixa{
	margin-top: 10px;
	margin-left:50px;
	text-align: left;
	font-size: 25px;
	color: #4d4949;
	font-family: 'Roboto', sans-serif;
}

.filme-item .filme-item-content {
        border-radius: 3px;
        text-align: center;
    }

.filme-item{
	margin-left:70px;
	margin-bottom:10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.reviewContainer{
	text-align:center;
	background-color: white;
    width: 80%;
    margin: auto !important;
    padding: 20px; 
}
.reviewContainer form{
	width: 50%;
	margin:auto;
}
.reviewContainer .card{
	margin-top:80px;
}
.reviewContainer .filme-item-content{
	min-height: 200px;
}
.reviewContainer .filme-item-content > div{
	min-height: 200px;
}
.reviewContainer .filme-item{
	height: 85% !important;
	border: 1px solid var(--surface-d);
    border-radius: 3px;
    text-align: center;
    margin: 2rem 0;
    width: 98%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-left: 0 !important;
}
.filme-info > div{
	width: 50%;
    margin: auto;
}
.filme-info .filme-img{
	width:220px; 
	height:300px; 
	float:left;
}
.filme-info .text-info{
	float:left;
	margin-left: 20px;
	text-align: left;
}
.filme-info .text-info > h2{
	margin-top: 0;	
}